<component name="ArtifactManager">
  <artifact type="war" name="springBoot-mutidata:war">
    <output-path>$PROJECT_DIR$/springBoot-mutidata/target</output-path>
    <root id="archive" name="springBoot-mutidata-1.0.1.war">
      <element id="artifact" artifact-name="springBoot-mutidata:war exploded" />
    </root>
  </artifact>
</component>