<component name="ArtifactManager">
  <artifact type="war" name="springBoot-async:war">
    <output-path>$PROJECT_DIR$/springBoot-async/target</output-path>
    <root id="archive" name="springBoot-async-1.0.1.war">
      <element id="artifact" artifact-name="springBoot-async:war exploded" />
    </root>
  </artifact>
</component>